## Jupyter
# Via conda: ipython notebook jupyterlab
ipykernel==5.5.5 # IPython Kernel for Jupyter
jupytext==1.11.3 # Jupyter notebooks as Markdown documents, Julia, Python or R scripts
jupyter-resource-usage==0.6.0 # Simple Jupyter extension to show how much resources (RAM) your notebook is using
ipympl==0.7.0 # Matplotlib Jupyter Extension
jupyterhub==4.1.0 # JupyterHub: A multi-user server for Jupyter notebooks
remote_ikernel==0.4.6 # Running IPython kernels through batch queues
jupyter_contrib_nbextensions==0.5.1 # A collection of Jupyter nbextensions.
jupyter_nbextensions_configurator==0.4.1 # jupyter serverextension providing configuration interfaces for nbextensions.
# TODO: jupyter-tensorboard version has a bug and hence does not support tensorboard 2.3 - 2.4 currently -> installed later
nbdime==3.1.1 # Diff and merge of Jupyter Notebooks